@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

body {
  box-sizing: border-box;
  margin: 0;
  color: var(--text);
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 50px 0;
}

:root {
  --text: #222;
  --dark: #333;
  --gray: #818796;
  --light: #f5f6f7;
  --lime: #9de04c;
  --blue: #4c9de0;
  --yellow: #f5ed32;

  --gray-border: rgb(129, 135, 150, 0.2);
}

/* Container */

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Buttons */
button, .button {
  padding: 12px 30px;
  background: var(--light);
  border: 1px solid var(--gray-border);
  border-radius: 20px;
  color: var(--text);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.4s;
}

button:hover, .button:hover {
  background: var(--gray);
  color: var(--light);
}

.button--blue {
  color: var(--light);
  background: var(--blue);
}

/* Product Block */
.product__content {
  padding-left: 30px;
  background: var(--light);
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 50px;
}

.product__info {
  max-width: 600px;
  padding: 20px 0;
}

.product__title {
  color: var(--lime);
  font-size: 38px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 10px;
}

.product__description {
  font-size: 18px;
  margin: 0;
  margin-bottom: 20px;
}

.product__img {
  max-width: 500px;
  height: 100%;
}

@media (max-width:996px) {
  .product__content {
    margin: 0 auto;
    max-width: 600px;
    flex-direction: column-reverse;
    padding: 0;
    gap: 0;
  }

  .product__info {
    max-width: 100%;
    padding: 30px;
  }

  .product__img {
    max-width: 100%;
  }
}

@media (max-width:768px) {
  .product__title {
    font-size: 32px;
  }
}

@media (max-width:425px) {
  .product__info {
    text-align: center;
    padding-top: 15px;
  }

  .product__title {
    font-size: 26px;
  }

  .product__description {
    font-size: 16px;
  }
}

/* Product Size Block */
.product_size {
  margin-top: 100px;
}

.product_size__title {
  padding: 10px 0;
  background: var(--dark);
  color: var(--lime);
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.product_size__list {
  max-width: 100%;
  padding: 10px;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.product_size__item {
  width: 23%;
  position: relative;
  padding-top: 40px;
  background: var(--light);
  text-transform: uppercase;
  transition: 0.4s;
}

.product_size__item span {
  position: absolute;
  top: -40px;
  left: 20px;
  font-size: 82px;
  font-weight: 900;
  color: var(--lime);
  transition: 0.4s;
}

.product_size__item p {
  font-size: 20px;
  font-weight: 800;
  transition: 0.4s;
  padding-left: 20px;
}

.product_size__item:hover span {
  color: var(--text);
  top: -45px;
}

.product_size__item:hover p {
  color: var(--lime);
}

@media (max-width:996px) {
  .product_size__list {
    flex-direction: column;
    gap: 50px;
  }

  .product_size__item {
    width: 100%;
  }
}

@media (max-width:425px) {
  .product_size__title {
    font-size: 26px;
  }

  .product__img {
    width: 100%;
    max-height: 250px;
  }
}


/* Produc Design Block */
.product_design {
  margin-top: 100px;
}

.product_design_content {
  background: #f5f6f7 url('./img/product-design-bg.png') no-repeat 50% 50% / cover;
}

.product_design__title {
  padding: 10px 0;
  background: var(--dark);
  color: var(--lime);
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.product_design__list {
  min-height: 570px;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.product_design__item {
  max-width: 30%;
  text-align: center;
  transition: 0.4s;
}

.product_design__item h3 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 900;
  text-transform: uppercase;
}

.product_design__item p {
  font-size: 18px;
  width: 90%;
  margin: 0 auto;
  margin-top: 70px;
}

.product_design__item_img__container {
  position: relative;
  width: 100%;
}

.product_design__item_img__container div {
  position: absolute;
  bottom: -32%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);

  width: 100px;
  height: 100px;
  background: var(--yellow);
  font-size: 52px;
  font-weight: 900;
  border-radius: 50%;
  transition: 0.5s;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media (hover:hover) {
  .product_design__item:hover .product_design__item_img__container div {
    background: var(--text);
    color: var(--yellow);
  }
}

.product_design__item_img__container img {
  width: 95%;
  transition: 0.5s;
}

@media (hover:hover) {
  .product_design__item:hover .product_design__item_img__container img {
    width: 100%;
  }
}

@media (max-width:996px) {
  .product_design__list {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .product_design__item {
    max-width: 60%;
  }

  .product_design__item_img__container div {
    bottom: -20%;
  }
}

@media (max-width:768px) {
  .product_design__item_img__container div {
    position: relative;
    width: 50px;
    height: 50px;
    font-size: 30px;
  }

  .product_design__item p {
    margin-top: 0;
  }
}

@media (max-width:425px) {
  .product_design__title {
    font-size: 26px;
  }
}